<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get to know us</title>
</head>
<body>
    <div class="company-bio" style="font-size: 30px;">
        <h2>About Us</h2>
        <p>At <strong> {{ bio }}</strong>, we believe that every step matters. Founded in <strong>1924</strong>, our mission is to blend style, comfort, and sustainability in every pair of shoes we create. Our journey began with a simple idea: to craft footwear that not only looks good but also feels good and does good.</p>
        
        <p>We take pride in using high-quality, eco-friendly materials, ensuring that our shoes are as kind to the planet as they are to your feet. From sleek sneakers to elegant heels, our diverse collection is designed for every occasion, empowering individuals to express their unique style.</p>
        
        <p>With a commitment to innovation and craftsmanship, <strong>{{bio}}</strong> is dedicated to creating shoes that inspire confidence and adventure. Join us in stepping towards a brighter, more sustainable future—one shoe at a time.</p>
    </div>
    <p>
        <a href="/">Return to home</a>
    </p>
</body>
</html>