<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quem sou eu?</title>
    <link rel="stylesheet" href="C:\Users\202214040008\Documents\GitHub\python-flask\microblog\static\css\estilisado.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap" rel="stylesheet">
    
</head>
<body>
    <section>
        <h1>Emanuelly de Cássia S. M.</h1>
        <img src="C:\Users\202214040008\Documents\GitHub\python-flask\microblog\static\img\spongebob_PNG1.png">
        <section class="sec1">
            <h3>Histórico Acadêmico</h3>
            <p>Curso Técnico em Informática (2018-2022)<br>Tecnólogo em Gestão da TI (2022-Presente)</p>
            <h3>Experiência</h3>
            <p>Nenhuma</p>
        </section>
    </section>
    
<footer>Todos os direitos Reservados</footer>
</body>
</html>