<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conversey</title>
    <a rel="stylesheet" href="ugh.css"></a>
</head>
<body>
    <h2>
        CONVERSEY <3 <br>
        <img src = "https://i.pinimg.com/originals/3f/1d/27/3f1d27c17eeb772f127abdb345c89a86.gif">
    </h2>
    Purchases today: {{ count }}
    <br>
    <a href="/contact">Go to contacts</a>
    <a href="/biography"><br>Go to bio</a>
    <a href="/products"><br>Go to products listing</a>
    <a href="/dados"><br>Go to products dados</a>
    <a href="/soma/"><br>Go to calculator</a> 
    <a href="/dados"><br>Go to dados</a>
</body>
</html>