img {height: 350px;}
body{
    
    font-family: "Gamja Flower", sans-serif;
    font-size: 30px;
    font-style: normal;
    background-color: rgb(162, 196, 197);
    background-image: url("C:\Users\202214040008\Documents\GitHub\python-flask\microblog\static\img\giphy.webp");
  }
footer{text-align: center; background-color: cadetblue;}

section img {float: left; margin-left: 40px; margin-right: 40px; padding-bottom: 300px;}
footer{position: absolute; bottom: 0; width: 100%;}